body,html{
  margin: 0px;
  padding: 0px;
  background-color: #f5f5fa;
}

/* Common Styles */
.container{
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
p{

}

h1,h2,h3,h4,h5,h6{

}

a{

}

a:hover{

}

i{
  margin-right: 5px;
  color: #666;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}


/* Header Styles */
.container #header{
    background-color: #1e2025;
    height:20px;
    letter-spacing: normal;
    color: #ffffff!important;
    padding: 15px 20px 20px 20px;
}

.container #header .pull-left{
    float: left;
}

.container #header .pull-right{
    float: right;
    margin-top: 6px;
}

.container #header .pull-right .settings{
    font-size: 14px;

}

.container #header i{
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}

/* Content */
.container #content{
  width: 100%;
  height: 100%;
  background-color: #f5f5fa;
}

/* Side Bar */
.container #content #sidebar{
  width: 20%;
  float: left;
  background-color: #2f323a;
}

#sidebar p{
  color: #575a5f;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 10px 20px 10px 30px;
}

/* Page */
.container #content #page{
  width: 76%;
  float: left;
  padding: 20px;
}
/* Menu */
.menu{

}

.menu ul{
  list-style: none;
  padding: 0px;
}

.menu ul li{
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
}

.menu ul li:hover{
  background-color: #000;
  padding: 15px;
}

.menu ul li:hover a{
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #000;
  padding: 15px;
}

.menu ul li a i{
  margin-left: -5px;
  color: #7cb2ed;
}

.menu ul li a{
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 15px;
}
.menu ul li.active{
  color: #fff!important;
  text-decoration: none;
  background-color: #000;
}




/* Panel */
.panel {
    background: #ffffff;
    height: 250px;
    box-shadow:0px 0px 1px 1px #dedede;
    -webkit-box-shadow:1px 1px 1px 1px #dedede;
    -moz-box-shadow:1px 1px 1px 1px #dedede;
    margin: 10px;
    padding: 15px;
    color: #7cb2ed;
    font-size: 16px;
}

h4{
   font-size: 16px;
   color: #7cb2ed;
   font-weight: normal;

}

.panel .speed{
  width: 100%;
  float: left;
  min-width: 100%;
}

.row{
  width: 100%;
  float: left;
  margin: 0px;
  margin-top: 25px;
  margin-left: -25px;
  padding: 0px;
  min-width: 100%;
}

.panel .count{
  float: left;
    min-width: 61% !important;
    width: 70% !important;
}

.panel .average{
  float: right;
    margin-right: -40px;
    min-width: 24%;
    width: 23%;
}


/* Thumbnail */

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}

.thumbnail .title{
  color: #5c9df5;
  font-size: 12px;
  padding: 10px;
}

.thumbnail .title span{
  font-size: 11px;
  float: right;
  color: #b9b9b9;
}



.thumbnail a > img, .thumbnail > img {
    margin-left: auto;
    margin-right: auto;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #337ab7;
}
.thumbnail .caption {
    color: #333;
    padding: 9px;
}

.thumbnail .action{
   border-top: solid 1px #979797;
   opacity: 0.1;
   height:50px;
   float: left;
}

.breif{
  width:50px;
}

.like{
  width:50px;
}

.share{
  width:50px;
}

/* Chart Css*/
#line{
  margin-top: 10px;
  height: 230px!important;
}

#base{
  margin-top: 10px;
  height: 230px!important;
}

#doughnut{
  margin-top: 10px;
}

.box{
  width:30%;
  float: left;
  margin-right: 15px;
}
