<div class="panel speed">
  <div>Speed Zone
    <span class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span class="pull-right"><i class="fa fa-external-link" aria-hidden="true"></i></span>
  </div>
  <div class="line">
    <canvas id="line" class="chart chart-line" chart-data="linedata"
    chart-labels="linelabel" chart-series="series" chart-colors="colors" chart-options="options"
    chart-dataset-override="datasetOverride">
    </canvas
  </div>
</div>
<div class="row">
  <div class="panel count">
    <div>Count by Zone
      <span class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
      <span class="pull-right"><i class="fa fa-external-link" aria-hidden="true"></i></span>
    </div>
    <canvas id="base" class="chart-bar"
  chart-data="data" chart-labels="labels" >
</canvas>
  </div>
  <div class="panel average">
    <div>Speed Average
      <span class="pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
      <span class="pull-right"><i class="fa fa-external-link" aria-hidden="true"></i></span>
    </div>
    <canvas id="doughnut" class="chart chart-doughnut"
  chart-data="doughnut_data" chart-colors="colors" chart-labels="doughnut_label">
</canvas>

  </div>
</div>
