<div class="pull-left">
  <a href="#/" alt="Activity Data" title="Activity Data"><img src="images/logo.png"></a>
</div>
<div class="pull-right settings">
  Admin Name <i class="fa fa-cog" aria-hidden="true"></i>
</div>
