<p>NAVIGATE</p>
<div class="menu">
  <ul>
    <li class="active"><a href="#/"><i class="fa fa-line-chart" aria-hidden="true"></i> Analytics</a></li>
    <li><a href="#/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
    <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Board Breif</a></li>
    <li><a href="#"><i class="fa fa-suitcase" aria-hidden="true"></i> Briefcase</a></li>
  </ul>
</div>


<script>
$(document).ready(function() {
    var document_height = $(window).height();
    console.log(document_height)
    var $sidebar = $('#sidebar');
    $sidebar.height(document_height - 56);
    var $window = $(window).on('resize', function(){
       var height = $(this).height() - 56;
       $sidebar.height(height);
    }).trigger('resize');
});
</script>
